<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MagePal\GoogleTagManager\DataLayer\CategoryData\CategoryProvider">
        <arguments>
            <argument name="categoryProviders" xsi:type="array">
                <item name="category_data_provider" xsi:type="object">MageSuite\MagePalGoogleTagManagerAdcell\Model\DataLayer\CategoryDataProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="MagePal\GoogleTagManager\DataLayer\OrderData\OrderProvider">
        <arguments>
            <argument name="orderProviders" xsi:type="array">
                <item name="order_data_provider" xsi:type="object">MageSuite\MagePalGoogleTagManagerAdcell\Model\DataLayer\OrderDataProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="MagePal\GoogleTagManager\DataLayer\ProductData\ProductProvider">
        <arguments>
            <argument name="productProviders" xsi:type="array">
                <item name="product_children_data_provider" xsi:type="object">MageSuite\MagePalGoogleTagManagerAdcell\Model\DataLayer\ProductChildrenDataProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="MagePal\GoogleTagManager\DataLayer\QuoteData\QuoteProvider">
        <arguments>
            <argument name="quoteProviders" xsi:type="array">
                <item name="quote_data_provider" xsi:type="object">MageSuite\MagePalGoogleTagManagerAdcell\Model\DataLayer\QuoteDataProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="MagePal\GoogleTagManager\CustomerData\JsDataLayer">
        <plugin name="add_recurring_customer_flag" type="MageSuite\MagePalGoogleTagManagerAdcell\Plugin\MagePal\GoogleTagManager\CustomerData\JsDataLayer\AddRecurringCustomerFlag"/>
    </type>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="set_product_ids_for_product_list_provider" type="MageSuite\MagePalGoogleTagManagerAdcell\Plugin\Catalog\Block\Product\ListProduct\SetProductIdsForProductListProvider"/>
    </type>
</config>
